<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taqwaguide.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Taqwa Guide</name>
    <description>Islamic Prayer Times and Mentor App</description>
    <author email="you@example.com" href="http://example.com">Your Name</author>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    
    <!-- অ্যান্ড্রয়েড কনফিগারেশন -->
    <platform name="android">
        <allow-intent href="market:*" />
        <preference name="AndroidXEnabled" value="true" />
    </platform>

    <!-- প্লাগিনসমূহ (এখানেই নোটিফিকেশন প্লাগিন যোগ করা হলো) -->
    <plugin name="cordova-plugin-local-notification" spec="^0.8.5" />
    <plugin name="cordova-plugin-device" spec="^2.0.3" />
</widget>
