<?xml version='1.0' encoding='utf-8'?>
<widget id="com.taqwa.guide" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Taqwa Guide</name>
    <description>Islamic Mentor App</description>
    <content src="index.html" />
    <access origin="*" />
    
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="30" />
    <preference name="AndroidXEnabled" value="true" />
    
    <platform name="android">
        <preference name="android-compileSdkVersion" value="34" />
    </platform>
    
    <plugin name="cordova-plugin-local-notification" spec="^0.9.0-beta.2" />
</widget>

