name: Simple Build
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          java-version: '11'
          distribution: 'temurin'
      - uses: actions/setup-node@v4
        with:
          node-version: '16'
      - name: Install Cordova
        run: npm install -g cordova
      - name: Build APK
        run: |
          cordova create myapp com.taqwa.guide Taqwa
          cp index.html myapp/www/index.html
          cp config.xml myapp/config.xml
          cd myapp
          cordova platform add android@10.1.1
          cordova build android --debug
      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Taqwa-App
          path: myapp/platforms/android/app/build/outputs/apk/debug/app-debug.apk
