name: Build Android APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: '11'
          distribution: 'adopt'
      - name: Install Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '14'
      - name: Install Cordova
        run: npm install -g cordova
      - name: Add Android Platform
        run: cordova platform add android
      - name: Build APK
        run: cordova build android --debug
      - name: Upload APK
        uses: actions/upload-artifact@v2
        with:
          name: Taqwa-Guide-APK
          path: platforms/android/app/build/outputs/apk/debug/app-debug.apk
